:root {
  --primary: #4e47ff;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

main {
  background: rgb(240, 240, 240);
}

.navsec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  padding: 50px 200px;
}

.navsec p {
  font: bolder;
  font-weight: 900;
  color: var(--primary);
  font-size: 34px;
}

.hero-sec {
  background-image: url("./assets/Hero-bg.png");
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.common-btn {
  padding: 15px 30px;
  text-align: center;
  background: var(--primary);
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  color: black;
  background: yellow;
  transition: all;
  transition-duration: 500ms;
}

.hero-content {
  text-align: center;
}

.hero-content h1 {
  font: bold;
  font-size: 64px;
  padding-top: 200px;
  padding-bottom: 20px;
}

.action {
  padding: 0px 200px;
  margin: 100px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action h1 {
  font-size: 42px;
}

.action p {
  font-size: 24px;
  padding: 20px 0px;
  color: #252432;
  opacity: 50%;
}

.wc-mini {
  border-radius: 30px;
}

.users {
  margin: 0px 200px;
  background: rgb(230, 230, 255);
  text-align: center;
  padding: 50px;
  border-radius: 20px;
}

.users h1 {
  font-size: 38px;
  font: bold;
}
.user-content {
  display: flex;
  justify-content: center;
  gap: 158px;
  margin-top: 50px;
}

.users .user-num {
  font-weight: 700;
  color: var(--primary);
  font-size: 80px;
}

.users .user-title {
  font-size: 20px;
  padding: 20px 0px;
  color: #252432;
  opacity: 50%;
}

.feedback {
  margin: 70px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feedback h1 {
  font-size: 42px;
}
.feedback h2 {
  margin-top: 25px;
}

.review-sec {
  display: flex;
  gap: 40px;
  margin-top: 50px;
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 20px;
}

.user-comment {
  margin: 15px 0px;
}

.user-info {
  display: flex;
  gap: 15px;
}

.user-img {
  border-radius: 100px;
}

.user-name {
  font: bold;
  font-weight: 700;
  color: rgb(100, 95, 95);
}

.focus-sec {
  background: white;
  margin: 0px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 150px;
}

.focus-sec img {
  border-radius: 50px;
}

.focus-info {
  margin-bottom: 40px;
  text-align: center;
}

.focus-info h1 {
  font: bold;
  font-size: 50px;
}

.focus-info p {
  color: gray;
  opacity: 50%;
  margin: 15px 0px;
}
